# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Understanding_Raymarching_Unity.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\GeorgeAdamon\Documents\GitHub\GeorgeAdamon\understanding-raymarching\Understanding_Raymarching_Unity\.idea\.idea.Understanding_Raymarching_Unity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
